.our_team {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--icone_background);
}
