.lorem {
  display: flex;
  background-color: #ffffff;

  &.__p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 0px;
    padding-left: 24px;
  }
}
